h2{
    font-size: 18px !important;
    text-transform: none;
    background-color: #f5f5f5;
    padding: 10px 22px !important;
    border-bottom: 1px solid #eee;
}
.dialog-header,
.MuiDialogActions-spacing{
    background-color: #f5f5f5;
    padding: 10px 22px !important;
    border-bottom: 1px solid #eee;
}
.MuiDialogContent-root{
    padding: 20px 22px 0px;
}
.MuiDialogActions-spacing{
    border-top:1px solid #eee;
    border-bottom: 0px solid #eee;
}