
  .App-container {
    /* background-color: #ffffff; */
    color: #000000;
    overflow-y:hidden;
    height: 100%;
    background-size: cover;
    background-repeat: repeat;
  }
  .nav-container{
    position: fixed;
    top: 0px;
    left: 0;
    display: block;
    min-width: 12em;
    max-width: 10em;
    padding-right: 2rem;
    /* background-color: #ffffff; */
    /* border-right: 1px solid rgb(75, 89, 89); */
    height: 100%;
    z-index: 99;
  
    box-shadow: 0px 0px 10px black;
  }
  .nav-item{
    width: 100% !important;
    padding: 1em;
    margin-left: 1em;
  }
  .nav-link{
    text-decoration: none;
    /* background-color: rgb(185, 173, 173); */
    color: white;
    font-size: 1em;
  }
  .selected-nav{
    /* background-color: lightcyan; */
    padding: 1em;
    color: lightcoral;
    border-bottom: 1px solid lightcoral;
    margin-left: 1em;
  }
  .nav-item:hover{
    background-color: rgb(235, 235, 235);
    /* color: lightblue; */
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
  }
  .body-container{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    overflow-y: scroll
  }
  .cards  {
    height:16em;
    background-color: white;
    /* border: 1px solid rgb(53, 51, 51); */
    border-radius: 12px;
    box-shadow: 0px 0px 9px #706f6f;
    /* box-shadow: 0px 0px 3px lightgrey; */
  }
  .hour-card{
    height:5em;
    background-color: #ffffff;
    /* border: 1px solid rgb(53, 51, 51); */
    padding-left: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 9px #706f6f;
  
  }
  .h-name{
    color: rgb(95, 94, 94);
  }
  .hours{
    font-size: 13px;
  }
  .growth {
    font-size: 9px;
  }
  
  .action-left-container{
    /* padding: 1em; */
    margin-top: 1em !important;
    border-right: 1px solid rgb(58, 57, 57);
    height: 100%;
  }
  .action-right-container{
    margin: 2em !important;
    /* border-right: 1px solid rgb(58, 57, 57); */
    height: 100%;
  }
  .hour{
    font-size: 3.4em;
    font-weight: 500;
  }
  .minute{
    font-size: 3.4em;
    font-weight: 500;
  }
  .second{
    font-size: 22px;
    font-weight: 500;
  }
  .am-pm{
    font-size: 12px;
    font-weight: 400;
  }
//   table {
//     border-collapse: collapse;
//     width: 100%;
//   }
  
//   tr th {
//     font-size: 14px;
//     padding: 12px;
//     border-bottom: 1px solid rgb(182, 182, 182);
//     text-align: left;
//     /* background-color: rgba(217,timeSheet 221, 146, 0.2); */
//   }
  
//   tr td {
//     border-bottom: 1px solid #b8b6b6;
//     text-align: left;
//     align-content: center;
//   }
  
  .p-datatable .p-datatable-tbody>tr>td .p-row-editor-init,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-save,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-cancel{
    width: 1rem !important;
    height: 1rem !important;
}

.p-datatable{
.p-datatable-tbody {        
  tr td {
    border: 1px solid rgba(0, 0, 0, 0.05) !important;
    font-size: 12px !important;
    padding: 7px 14px !important;
  }
}
}



.p-datatable-wrapper{
.p-datatable-table{
    .p-datatable-thead{
        tr th{
            border: 1px solid rgba(0, 0, 0, 0.05) !important;
            font-size: 13px !important;
        }
    }
}
}
  