.App-container {
  background-color: rgb(13, 13, 13);
  color: white;
  overflow-y:hidden;
  height: 100%;
  background-size: cover;
  background-repeat: repeat;
}
.nav-container{
  position: fixed;
  top: 0px;
  left: 0;
  display: block;
  min-width: 10rem;
  padding-right: 2rem;
  /* border-right: 1px solid rgb(75, 89, 89); */
  height: 100%;

  /* box-shadow: 0px 0px 2px white; */
}
.nav-item{
  width: 100% !important;
  padding: 1em;
  margin-left: 1em;
}
.nav-link{
  text-decoration: none;
  background-color: rgb(13, 13, 13);
  color: white;
  font-size: 1em;
}
.selected-nav{
  /* background-color: lightcyan; */
  padding: 1em;
  color: lightcyan;
  border-bottom: 1px solid lightcoral;
  margin-left: 1em;
}
.nav-item:hover{
  background-color: lightgray;
  color: black;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
}
.body-container{
  background-color: #171616;
  height: 100vh;
  overflow-y: scroll
}
.cards  {
  height:16em;
  background-color: #000000;
  border: 1px solid rgb(53, 51, 51);
  border-radius: 12px;
  /* box-shadow: 0px 0px 3px lightgrey; */
}
.hour-card{
  height:5em;
  background-color: #000000;
  border: 1px solid rgb(53, 51, 51);
  padding-left: 15px;
  border-radius: 12px;

}
.h-name{
  color: rgb(95, 94, 94);
}
.hours{
  font-size: 13px;
}
.growth {
  font-size: 9px;
}
.timeSheet{
  
}
